<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Modification LowStockAlert</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
<div class="container my-5">
  <h3> Modification LowStockAlert</h3>
  <div class="card">
    <div class="card-body">
      <div class="col-md-10">
        <form action="#" th:action="@{/lowStockAlert/update/{id}(id=${lowStockAlert.id})}" th:object="${lowStockAlert}"
              method="post">
          <div class="row">

            <div class="form-group col-md-8">
              <label for="name" class="col-form-label">current Qantity</label>
              <input type="text" th:field="*{currentQuantity}" class="form-control"
                     id="qurrent qauntity" placeholder="qurrentqantity" />
            </div>
            <div class="form-group col-md-8">
              <label for="name" class="col-form-label">alert date</label>
              <input type="text" th:field="*{alertDate}" class="form-control"
                     id="alert date" placeholder="alert date" />
            </div>



            <div class="col-md-6">
              <input type="submit" class="btn btn-primary" value=" Submit ">
            </div>

            <input type="hidden" id="id" th:field="*{id}">

          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>

</html>